.img-stydi{
    height: 500px;
    width: 1240px;
    background-image: url('../images/stydi.webp');
    border-radius: 15px ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-text-two h2{
    font-family: "Open Sans", serif;
    font-weight: 300;
    font-size: 27px;
    text-align: center;
    max-width: 1240px;
}

.main-two{
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: auto;
  width: 1240px;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 50px;
}