.text-card{
    display: flex;
    gap: 30px;
    width: 1240px;
    justify-content: center;
}

.text-contact{
    height: auto;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text-contact div{
    width: 555px;
}

.text-contact h1{
    font-family: "Open Sans", serif;
    font-weight: 500;
    font-size: 24px;
}

.text-contact h2{
    font-family: "Open Sans", serif;
    font-weight: 300;
    font-size: 24px;
}

.text-contact h3{
    font-family: "Open Sans", serif;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
}