.img-fotozone-card{
    height: 250px;
    width: 100%;
    background-size: cover; // Заполняет блок
    background-position: center; // Центрирует изображение
    background-repeat: no-repeat;
    border-radius: 15px 15px; // Закругление только сверху
}

.fotozone-item{
    border-radius: 15px 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.fotozone-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.fotozone-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    border-radius: 15px;
    padding: 20px 10px;
    height: 250px;
    width: 370px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fotozone-card h1{
    font-family: "Alegreya", serif;
    font-weight: 500;
    font-size: 24px;
}
.fotozone-card h2{
    height: 100px;
    font-family: "Open Sans", serif;
    font-weight: 300;
    font-size: 16px;
}