header{
  background-color:white;
  height: 55px;
  display: flex;
  padding: 10px 0; /* убрали боковые паддинги */
  justify-content: center; /* центрируем контейнер */
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1240px; /* максимальная ширина */
}

.logo{
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Alegreya", serif;
  font-weight: 500;
  font-size: 32px;
}

.info{
  display: flex;
  align-items: center;
  gap: 35px;
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-size: 20px;
}