.info-foto{
    height: 370px;
    width: auto;
    display: flex;
    // align-items: center; /* вертикальное выравнивание всех блоков */
    gap: 15px;
}
.line{
    height: 100%;
    width: 1px;
    border-radius: 1px;
    background-color: black;
}
.many-text{
    text-align: start;
    width: 246px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center; /* добавляем вертикальное выравнивание */
    height: 100%; /* или задайте конкретную высоту */
}

.many-text h1{
    font-family: "Open Sans", serif;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
}

.many-text h2{
    font-family: "Open Sans", serif;
    font-weight: 500;
    font-size: 16px;
}

.many-text p{
    font-family: "Open Sans", serif;
    font-weight: 300;
    font-size: 16px;
}