header{
  background-color:white;
  height: 85px;
  display: flex;
  padding: 10px 100px;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Alegreya", serif;
  font-weight: 500;
  font-size: 32px;
}

.info{
  display: flex;
  align-items: center;
  gap: 35px;
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-size: 20px;
}