.text-history{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.text-h{
    height: auto;
    width: 1240px;
    text-align: start;
}
.text-h p{
    font-family: "Open Sans", serif;
    font-weight: 300;
    font-size: 30px;
}