// .main{
//   background-image: url("../images/hero.webp");
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
//   object-fit: cover;
//   flex-direction: column;
//   gap: 20px;
//   text-align: center;
//   color: white;
// }

.hero_collage{
  height: 600px;
}

.title{
  background-color: white;
  height: 105px;
  align-items: center;
  padding: 10px 122px;
}

.block{
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 30px 0px 30px 0px;
}

.text-block{
  font-family: NotoSans-Light;
  font-weight: 200;
  font-size: 32px;
  text-align: start;
  //padding: 5vw 10vw; /* 5% от ширины viewport сверху/снизу, 10% слева/справа */
  margin: auto; /* 2% от высоты viewport */
  max-width: 1200px;
}

.text-block-null{
  text-align: start;
  //padding: 5vw 10vw; /* 5% от ширины viewport сверху/снизу, 10% слева/справа */
  margin: auto; /* 2% от высоты viewport */
  max-width: 650px;
}
.block-perfect{
  display: flex;
  justify-content: center;
  gap: 26px;
}

.perfect{
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  height: auto;
  width: 385px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  padding: 20px;
  border-radius: 7px;
}
.perfect h3{
  width: 350px;
}

.text-and-perfect{
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.fotozone{
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  height: auto;
  width: 385px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  padding: 10px;
  border-radius: 7px;
}

.grey-otziv{
  background-color: (rgba(0, 0, 0, 10%));
  border-radius: 20px;
  height: auto;
  width: fit-content;
  padding: 20px 40px;
  text-align: start;
}

.grey-otziv h1{
  font-family: NotoSans-Regular;
  font-weight: normal;
}