.feedback{
    text-align: start;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.feedback h1{
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 24px;
}

.feedback h2{
    font-family: "Open Sans", serif;
    font-weight: 300;
    font-size: 20px;
}

// .main-text h1 {
//     font-family: "Alegreya", serif;
//     font-weight: 500;
//     font-size: 64px;
//     text-align: center;
//     max-width: 1200px;
// }

// .ofter-text h2 {
//     font-family: "Open Sans", serif;
//     font-weight: 300;
//     font-size: 36px;
//     text-align: center;
//     max-width: 1200px;
// }


.stats{
    display: flex;
    gap: 10px;
}