.title{
    background-color: white;
    width: 100%;
    height: 105px;
    align-items: center;
    text-align: center;
}
.title h1{
    font-family: Alegreya;
    font-size: 48px;
    font-weight: 800;
    padding: 20px 0px;
}