.title{
    background-color: white;
    width: 100%;
    height: 105px;
    display: flex;
    align-items: center; /* теперь работает */
    justify-content: center; /* центрирование по горизонтали */
    text-align: center;
}
.title h1{
    font-family: Alegreya;
    font-size: 48px;
    font-weight: 800;
    padding: 20px 0px;
}