<div class="main-two">
    <div class="main-text-two">
        <h2>Мы — творческое пространство, где рождаются тренды. 
        Всего за пару лет мы прошли путь от маленькой студии шести друзей 
        до места, куда возвращаются снова и снова. 
        Преодолевая первые трудности — от поиска идеального помещения до кропотливого подбора 
        оборудования — мы создали не просто фотостудию, а творческую лабораторию, где рождаются 
        настоящие эмоции и уникальные визуальные решения. </h2>
    </div>
    <div class="img-stydi">
    </div>
</div>