<div class="text-card">
    <div class="text-contact">
        <div>
        <h1>Телефон</h1>
        <h2>+7 (999) 123-45-67</h2>
        <h3>Единый номер для записи и консультаций</h3>
        </div>
        <div>
        <h1>Email</h1>
        <h2>hello@obektivno.ru</h2>
        <h3>Для коммерческих запросов: sales@obektivno.ru</h3>
        </div>
        <div>
        <h1>Адрес студии</h1>
        <h2>Студия «Центр»: ул. Большая Покровская, 10</h2>
        </div>
        <div>
        <h1>Режим работы</h1>
        <h2>Ежедневно с 9:00 до 22:00</h2>
        <h3>Бронирование студии возможно с 8:00 до 23:00</h3>
        </div>
    </div>
    <div>
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A62bd363f907cfb0f7a36a26b127a8445fd6260d2adeb80cc3e66f54b5dd4c971&amp;source=constructor" width="655" height="393" frameborder="0"></iframe>    
    </div>
</div>