<div class="block">
    <div class="text-and-perfect">
        <div class="title">
            <h1>Фотозоны</h1>
        </div>
        <div class="block-perfect">
            <div class="fotozone">
                <img src="assets/images/zone1.webp" alt="">
                <h1>Морской бриз</h1>
                <h4>Свежесть морского бриза и шум прибоя,
                    не выходя из города. Этот уголок побережья
                    создан для ваших самых воздушных фотографий.</h4>
                <button class="button-black">Забронировать</button>
            </div>
            <div class="fotozone">
                <img src="assets/images/zone2.webp" alt="">
                <h1>Летний вайб</h1>
                <h4>Поймай самое яркое солнце этого лета!
                    Окунись в атмосферу беззаботности и
                    тепла среди сочной зелени и ярких цветов.</h4>
                <button class="button-black">Забронировать</button>
            </div>
            <div class="fotozone">
                <img src="assets/images/zone3.webp" alt="">
                <h1>Азартный игрок</h1>
                <h4>Окунись в атмосферу Лас-Вегаса и почувствуй
                    себя настоящим игроком. Рулетка и фишки
                    ждут, чтобы стать фоном для вашей победы.</h4>
                <button class="button-black">Забронировать</button>
            </div>
        </div>
        <div>
            <button class="button-black-v2">Забронировать</button>
        </div>
    </div>
</div>