<div class="main">
    <video class="video-bg" autoplay muted loop>
        <source src="assets/videos/bg-hero.mp4" type="video/mp4">
    </video>
    <div class="container">
        <div class="main-text">
            <h1>ВЫВЕДЕМ ВАШИ ФОТО НА НОВЫЙ УРОВЕНЬ!</h1>
        </div>
        <div class="ofter-text">
            <h2>Наша фотостудия — это объективно крутые фото, смелые идеи и 
                результат, который прокачает ваши соцсети</h2>
        </div>
        <div>
            <button class="button-yellow">Записаться на съемку</button>
        </div>
    </div>
</div>