<div class="text-history">
    <div class="text-h">
        <p>Все началось в 2023 году, <span style="font-weight: 500;">когда 7 друзей, которые уже много лет 
            фотографировали друг друга, решили объединить 2 вещи: желании строить 
            свое дело и искренней увлеченности фотографией.</span></p>
    </div>
    <div class="text-h">
        <p>3 месяца искали «то самое» помещение — неидеальное, но с характером. Был 
            и неудачный ремонт, и первые промахи с техникой, но никто не хотел сдаваться 
            просто так.</p>
    </div>
    <div class="text-h">
        <p><span style="font-weight: 500;">Сегодня «ОБЪЕКТИВНО!» — больше чем фотостудия.</span> Это творческое 
            пространство, созданное друзьями. Место, где рождаются настоящие эмоции и 
            потрясающие кадры.</span>
        </p>
    </div>
    <div class="text-h">
        <p><span style="font-weight: 700;">Приходите к нам — станьте частью нашей истории!</span></p>
    </div>
</div>