// ==== 1. Utils ====
@use 'utils/variables';

// ==== 2. Base styles ====

// ==== 3. Layout ====
@use 'layout/container';

// ==== 4. Components ====
@use 'components/header';
@use 'components/main_one';
@use 'components/hero';
@use 'components/title';
@use 'components/about';
@use 'components/advantages';
@use 'components/fotozone';

@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// h1{
//   font-family: Alegreya;
//   font-size: 48px;
//   font-weight: 800;
// }

// h2{
//   font-size: 32px;
//   font-family: NotoSans-Light;
//   font-weight: 200;
//   margin: auto; /* 2% от высоты viewport */
//   max-width: 1200px;
// }

// h3{
//   font-size: 24px;
//   font-family: NotoSans-Light;
//   font-weight: 200;
//   margin: auto; /* 2% от высоты viewport */
// }

// h4{
//   font-size: 16px;
//   font-family: NotoSans-Light;
//   font-weight: 200;
//   margin: auto; /* 2% от высоты viewport */
// }

// .button-black{
//   font-family: NotoSans-Light;
//   font-weight: 200;
//   font-size: 16px;
//   background: none;
//   padding: 5px 20px;
//   border:solid 1px black ;
// }
// .button-black-v2{
//   font-family: NotoSans-Light;
//   font-weight: 200;
//   font-size: 16px;
//   background: none;
//   padding: 5px 20px*5;
//   border-radius: 5px;
//   border:solid 1px black ;
// }
